body{
    background-color: burlywood;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color:green;

}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:palevioletred;
    font-size: 2rem;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
    font-size: x-large;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:brown;
    margin-left: 20px;
    margin-right: 200px;
}

a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:red;
    
}

.linkspace{
    margin-left: 20px;
    margin-right:20px;
}

a:hover{
    background-color: greenyellow;
}
a:visited{
    color:purple;
}

.purple{
    color:blueviolet;
    margin-top: 10px;
}

.space{
    margin-top: 100px;

}

div{
    margin-top: 10px;
}
